#main-window {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

#start-btn {
  margin-top: 50px;
  padding: 10px 20px;
  border-radius: 20%;
}

#timer {
  padding: 20px;
}

h1 {
  /* display: flex; */
  font-size: 40px;
  padding: 200px 0 50px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
}

#instructions {
  font-size: 25px;
  text-align: center;
  padding: 0 70px;
}

.horizontal-rule {
  width: 50%;
  margin-top: 20px;
}

#high-scores {
  padding: 20px;
}

.correctIncorrect {
  font-size: 25px;
  padding: 50px 0;
}

.btn {
  padding: 10px 20px;
  border-radius: 20%;
  margin: 10px 0;
}

.btn-container {
  display: flex;
}

.yes-no-btn {
  margin: 20px;
  width: 50px;
  border-radius: 20%;
}

.input {
  margin-top: 20px;
}

.submit-btn {
  height: 50%;

  margin-left: 20px;
  margin-top: 10px;
  align-self: flex-end;
  border-radius: 20%;
  padding: 10px 20px;
}

.play-again {
}
